<div class="row">
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Carbon bonus</p>
                <p class="card-title">{{rewards}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <button (click)="onEncash()" class="btn btn-success"> Encash</button> 
          </div>
        </div>
      </div>
    </div>
</div>


  <div class="row">

      <div class="col-md-4">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
          
                <div class="col-5 col-md-4">
                    
                    <p><img src="../../../assets/img/tesla.png" height="90" width="80"></p>
                </div>
                <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Tesla</p>
                      <p class="card-title">15% COc
                        <p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-warning"></i> Upto 1000 COc
                </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
            
                  <div class="col-5 col-md-4">
                      
                      <p><img src="../../../assets/img/crompton.png" height="90"></p>
                  </div>
                  <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Crompton</p>
                        <p class="card-title">10% COc
                          <p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card-footer ">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-warning"></i> Upto 1000 COc
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
              
                    <div class="col-5 col-md-4">
                        
                        <p><img src="../../../assets/img/itc.png"></p>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">ITC Limited</p>
                          <p class="card-title">15% COc
                            <p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                      <i class="fa fa-warning"></i> Upto 1000 COc
                    </div>
                </div>
              </div>
            </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
            
                  <div class="col-5 col-md-4">
                      
                      <p><img src="../../../assets/img/solar.png"></p>
                  </div>
                  <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Tata Solar</p>
                        <p class="card-title">10% COc
                          <p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card-footer ">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-warning"></i> Upto 1000 COc
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
              
                    <div class="col-5 col-md-4">
                        
                        <p><img src="../../../assets/img/tata.png"></p>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">Tata Solar</p>
                          <p class="card-title">10% COc
                            <p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                      <i class="fa fa-warning"></i> Upto 1000 COc
                    </div>
                </div>
              </div>
            </div>
          
            <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-body ">
                    <div class="row">
                
                      <div class="col-5 col-md-4">
                          
                          <p><img src="../../../assets/img/ecoad.png"></p>
                      </div>
                      <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Tata Solar</p>
                            <p class="card-title">10% COc
                              <p>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-warning"></i> Upto 1000 COc
                      </div>
                  </div>
                </div>
              </div>

    </div>

    

    
  